<section class="form">
  <div class="container">
    <div class="container__title">Cadastro</div>

    <div class="content">
      <form>
        <div class="product_details">
          <div class="input__box">
            <span class="details">Nome</span>
            <input
              type="text"
              placeholder="Nome do Produto"
              maxlength="255"
              required
            />
          </div>

          <div class="input__box">
            <span class="details">Preço</span>
            <input type="text" placeholder="R$" maxlength="255" required />
          </div>

          <div class="input__box">
            <span class="details">Categoria</span>
            <input type="text" placeholder="Categoria do Produto" required />
          </div>

          <div class="input__box">
            <span class="details">Quantidade</span>
            <input type="text" placeholder="Quantidade" required />
          </div>
        </div>

        <div class="button">
          <button>Adicionar Produto</button>
        </div>
      </form>
    </div>
  </div>
</section>
