<section class="form">
  <div class="container">
    <div class="container__title">{{ id ? "Alterar" : "Cadastrar" }}</div>

    <div class="content">
      <form [formGroup]="productForm">
        <div class="product_details">
          <div class="input__box">
            <span class="details">Nome</span>
            <input type="text" placeholder="Nome do Produto" formControlName="name" maxlength="255" required />
          </div>

          <div class="input__box">
            <span class="details">Preço</span>
            <input currencyMask [options]="{
            prefix: 'R$ ',
            thousands: '.',
            decimal: ',',
            align: 'left'
          }" type="text" placeholder="R$" formControlName="price" maxlength="255" required />
          </div>

          <div class="input__box">
            <span class="details">Categoria</span>
            <input type="text" placeholder="Categoria do Produto" formControlName="category" required />
          </div>

          <div class="input__box">
            <span class="details">Quantidade</span>
            <input type="text" placeholder="Quantidade" formControlName="amount" required />
          </div>
        </div>

        <div class="button">
          <button (click)="saveForm()" [disabled]="productForm.invalid">{{ id ? "Alterar" : "Adicionar" }} Produto</button>
        </div>
      </form>
    </div>
  </div>
</section>